<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024  joshua.tee@gmail.com

    This file is part of wX.

    wX is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    wX is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with wX.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- modded by ELY M. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="55944"
    android:versionName="55944-elys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- https://developer.android.com/develop/ui/views/notifications/notification-permission -->

    <!-- add for Telecine -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    
    <!-- elys mod --> 
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.intent.category.HOME" />
        </intent>
    </queries>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Some Chromebooks don't support touch. Although not essential,
         it's a good idea to explicitly include this declaration. -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MyCustomTheme_BlackAqua"
        android:name="MyApplication"
        android:supportsRtl="false"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".StartupActivity"
      android:requestLegacyExternalStorage="true"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".WX"
            android:launchMode="singleTop"
            android:theme="@style/MyCustomTheme_whiter_NOAB" />
        <activity
            android:name=".settings.SettingsMainActivity"
            android:label="@string/title_activity_settings_main"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsUIActivity"
            android:label="@string/title_activity_settings_ui"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.TextScreenActivity"
            android:label="@string/title_activity_text_screen"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.RtmaActivity"
            android:label=""
            android:parentActivityName="WX" />

        <receiver
            android:name=".notifications.AlertReceiver"
            android:permission="android.permission.INTERNET" />
        <receiver
            android:name=".notifications.BootBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".misc.AlertsDetailActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsLocationGenericActivity"
            android:label="@string/title_activity_settings_location_generic"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.HourlyActivity"
            android:label="@string/title_activity_hourly"
            android:hardwareAccelerated="false"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.SpottersActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.SpotterReportsActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".wpc.NationalImagesActivity"
            android:label="@string/title_activity_hourly"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.ImageCollectionActivity"
            android:label="@string/title_activity_hourly"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.NwsObsSitesActivity"
            android:label="NWS Observation Sites"
            android:parentActivityName="WX" />
        <activity
            android:name=".radar.RadarMosaicActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".vis.GoesActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsNotificationsActivity"
            android:label="@string/title_activity_settings_notifications"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.WebView"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcMcdWatchShowActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcSwoStateGraphicsActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcMcdWatchShowSummaryActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcStormReportsActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.LsrByWfoActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcThunderStormOutlookActivity"
            android:label="@string/title_activity_spctstorm_outlook"
            android:parentActivityName="WX" />
        <activity
            android:name=".models.ModelsSpcHrefActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcMesoActivity"
            android:label="@string/title_activity_spc_meso"
            android:parentActivityName="WX" />
        <activity
            android:name=".models.ModelsGenericActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcSwoSummaryActivity"
            android:label="@string/title_activity_spc_swo_summary"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.USAlertsActivity"
            android:label="@string/title_activity_uswarnings_with_radar_v3"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcCompmapActivity"
            android:label="@string/title_activity_spccompmap"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcFireOutlookSummaryActivity"
            android:label="@string/title_activity_spcfire_outlook"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcFireOutlookActivity"
            android:label="@string/title_activity_spcfire_outlook"
            android:parentActivityName="WX" />
        <activity
            android:name=".wpc.RainfallOutlookActivity"
            android:label="@string/title_activity_wpc_rainfall_forecast"
            android:parentActivityName="WX" />
        <activity
            android:name=".wpc.RainfallOutlookSummaryActivity"
            android:label="@string/title_activity_wpc_rainfall_forecast"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcSoundingsActivity"
            android:label="@string/title_activity_spc_soundings"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.WfoTextActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".wpc.NationalTextActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.SevereDashboardActivity"
            android:label="@string/title_activity_severe_dashboard"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.ForecastActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsLocationRecyclerViewActivity"
            android:label="@string/title_activity_settings_location_list_view"
            android:parentActivityName="WX" />
  	<service
      	    android:name=".radar.SpotterNetworkPositionReportService"
      	    android:enabled="true" />	    
        <activity
	    android:name=".settings.SettingsSpotterNetwork"
      	    android:label="@string/title_activity_settings_spotternetwork_view"
            android:parentActivityName="WX" />
        <activity
            android:name=".audio.SettingsPlaylistActivity"
            android:label="@string/title_activity_settings_playlist"
            android:parentActivityName="WX" />
        <activity
            android:name=".misc.ImageShowActivity"
            android:parentActivityName="WX" />

        <receiver
            android:name=".Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name=".WidgetCC"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_cc_info" />
        </receiver>


        <receiver
            android:name=".WidgetNexrad"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_nexrad_info" />
        </receiver>

        <receiver
            android:name=".WidgetMosaics"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mosaics_info" />
        </receiver>

        <receiver
            android:name=".WidgetMosaicsRad"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mosaicsrad_info" />
        </receiver>

        <receiver
            android:name=".WidgetTextProd"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_textprod_info" />
        </receiver>

        <receiver
            android:name=".WidgetTextHWO"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_texthwo_info" />
        </receiver>

        <receiver
            android:name=".WidgetSPCMESO"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_spcmeso_info" />
        </receiver>

        <receiver
            android:name=".WidgetSPCSWO"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_spcswo_info" />
        </receiver>

        <receiver
            android:name=".WidgetWPCIMG"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_wpcimg_info" />
        </receiver>

        <receiver
            android:name=".WidgetCONUSWV"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conuswv_info" />
        </receiver>

        <receiver
            android:name=".WidgetSTRPT"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_strpt_info" />
        </receiver>

        <receiver
            android:name=".WidgetNHC"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_nhc_info" />
        </receiver>

        <receiver
            android:name=".WidgetTextWPC"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_textwpc_info" />
        </receiver>

        <activity
            android:name=".settings.SettingsWidgetsActivity"
            android:label="@string/title_activity_settings_widgets"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsNavDrawerActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".nhc.NhcActivity"
            android:label="@string/title_activity_nhc"
            android:parentActivityName="WX" />
        <activity
            android:name=".nhc.NhcStormActivity"
            android:label="@string/title_activity_nhc"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsColorPickerActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsColorsActivity"
            android:label="@string/title_activity_settings_colors"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsRadarActivity"
            android:label="Radar Settings"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsDeveloperActivity"
            android:label="Developer/Advanced Settings"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsRadarSizesActivity"
            android:label="Radar Line Size Settings"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsAboutActivity"
            android:label="About wX"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsColorPaletteListingActivity"
            android:label="Nexrad Color Palettes"
            android:parentActivityName="WX" />
        <activity
            android:name=".radar.WXGLRadarActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".radar.WXGLRadarActivityMultiPane"
            android:parentActivityName="WX" />
        <activity
            android:name=".spc.SpcSwoActivity"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.FavAddActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.FavRemoveActivity"
            android:label="@string/title_activity_snd_add_fav"
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsColorPaletteActivity"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsColorPaletteEditor"
            android:label=""
            android:parentActivityName="WX" />
        <activity
            android:name=".settings.SettingsHomeScreenActivity"
            android:label="Manage Home Screen"
            android:parentActivityName="WX" />

        <provider
            android:name=".util.FileProvider"
            android:authorities=".wx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- The widget provider android:icon="@drawable/widgetsevenday" -->
        <receiver
            android:name="WeatherWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_7day_scoll" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name="WeatherWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- The content provider serving the weather data -->
        <provider
            android:name="WeatherDataProvider"
            android:exported="true"
            android:authorities=".weatherlistwidget.provider"
            tools:ignore="ExportedContentProvider" />

        <service
            android:name=".notifications.WXJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

    </application>
</manifest>
